:root{
    --royal-blue-light: #404eed;
    --royal-blue-dark: #3946d4;
    --white: #fff;
    --background: #e2e3e9;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    background-color: var(--background);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a{
    color: white;
    text-decoration: none;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--royal-blue-dark);
    padding: 1rem;
    height: 4.6875rem;
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
}

.menu{
    list-style: none;
    display: flex;
    gap: 0.5rem;
}

.menu a{
    display: block;
    padding: 1rem;
    border-radius: 0.5rem;
}

.menu a:hover{
    background-color: var(--royal-blue-light);
}

.btn-menu{
    background-color: transparent;
    border: none;
    color: white;
    display: none;
}

menu li{
    display: flex;
    align-items: center;
}


@media (max-width: 600px){
    .menu{
        display: block;
        position: absolute;
        top: 4.6875rem;
        left: 0;
        background-color: var(--royal-blue-light);
        text-align: center;
        width: 100%;
        height: 0;
        z-index: 1;
        visibility: hidden;
        overflow-y: hidden;
        transition: 0.5s;
    }

    .menu.active{
        height: calc(100vh - 4.6875rem);
        visibility: visible;
        overflow-y: auto;
    }

    .menu a{
        display: block;
        padding: 1rem 0;
        margin-inline: 1rem;
        border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.16);
    }

    .div{
        display: flex;
    }
    .btn-menu{
        display: flex;
        align-items: center;
        color: var(--white);
        gap: 0.5rem;
        padding-block: 1rem;
        cursor: pointer;
    }

    .hamburguer{
        border-top: 0.125rem solid;
        width: 1.25rem;
    }

    .hamburguer::after,
    .hamburguer::before{
        content: " ";
        display: block;
        width: 1.25rem;
        height: 0.125rem;
        background: currentColor;
        margin-top: 0.3125rem;
        position: relative;
        transition: 0.3s;
    }

    .menu.active .hamburguer{
        border-top-color: transparent ;
    }
    .menu.active .hamburguer::after{
        transform: rotate(-135deg);
        top: 7px;
   }
    .menu.active .hamburguer::before{
        transform: rotate(135deg);
}
}